<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Assignments</string>
		<string>_archive</string>
		<string>Modules</string>
		<string>Projects</string>
		<string>_SP-2018</string>
		<string>Textbook</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>Assignments</key>
			<dict>
				<key>lastModification</key>
				<real>546369653.78920305</real>
				<key>version</key>
				<dict>
					<key>0e2c4349a6287e9422ad85db32eadc2667449afd541331a84bac7e4b8c82a402</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Modules</key>
			<dict>
				<key>lastModification</key>
				<real>546369649.55970597</real>
				<key>version</key>
				<dict>
					<key>0e2c4349a6287e9422ad85db32eadc2667449afd541331a84bac7e4b8c82a402</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Projects</key>
			<dict>
				<key>lastModification</key>
				<real>546369649.55970597</real>
				<key>version</key>
				<dict>
					<key>0e2c4349a6287e9422ad85db32eadc2667449afd541331a84bac7e4b8c82a402</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Textbook</key>
			<dict>
				<key>lastModification</key>
				<real>546369649.55970705</real>
				<key>version</key>
				<dict>
					<key>0e2c4349a6287e9422ad85db32eadc2667449afd541331a84bac7e4b8c82a402</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>_SP-2018</key>
			<dict>
				<key>lastModification</key>
				<real>546369649.55970597</real>
				<key>version</key>
				<dict>
					<key>0e2c4349a6287e9422ad85db32eadc2667449afd541331a84bac7e4b8c82a402</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>_archive</key>
			<dict>
				<key>lastModification</key>
				<real>546369649.55970502</real>
				<key>version</key>
				<dict>
					<key>0e2c4349a6287e9422ad85db32eadc2667449afd541331a84bac7e4b8c82a402</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>0e2c4349a6287e9422ad85db32eadc2667449afd541331a84bac7e4b8c82a402</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
